a {
  color: #919191;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  font-size: 9px;
}

a:hover {
  color: #1E1E1E;
}

.mainNavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.tabBox {
    border-color: #919191;
    border-width: 1px;
    border-bottom-style: solid;
}
.tabBox a {
    transition: color 0.2s ease;
}

.tabBox:hover {
    border-bottom: 1px solid #1E1E1E;
}

.tabBox:hover a {
    color: #1E1E1E;
}
.mainBody {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}